<app-header></app-header>

<div id="product-detail">
    <mat-card class="card" card>
        <mat-card-content>
            <span>
                {{ category?.name }}
            </span>
        </mat-card-content>
    </mat-card>

    <div class="row">
        <div class="item">
            <!-- <router-outlet></router-outlet> -->
            <app-item *ngFor="let item of items | async" [item]="item" (add)="addItem($event)"></app-item>
        </div>
        <div class="cart">
            <app-shopping-cart></app-shopping-cart>
        </div>
    </div>
</div>