<app-header></app-header>

<a href="#">
    <div>
        <mat-card class="card" card>
            <img mat-card-image >
            <mat-card-content>
                <p>
                    <!-- {{product?.name}} -->
                    Produto
                </p>
                <p>
                    <!-- {{product?.category}} -->
                    Categoria
                </p>
          </mat-card-content>
        </mat-card>
        
    </div>

    <div class="cart">
        <app-shopping-cart></app-shopping-cart>
    </div>

    <div class="row">
        <app-item></app-item>
    </div>
</a>
