@import "../../../sass/variables";

#item {
  max-width: 200px;
  margin-right: 15px;
  text-align: center;

  .item-name {
    font-size: 20px;
    color: $black-two;
  }

  .item-price {
    font-size: 20px;
    margin-left: 5px;
  }

  .btn-add {
    font-size: 14px;
    color: $black-two;
    cursor: pointer;
  }
}
